TEI eTexts specs/OLD/TBRCeTexts-w-divs-20140113b.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tei-c.org/ns/1.0" xmlns:ns1="http://www.tei-c.org/ns/1.0">
  <!--
    Schema generated from ODD source 2014-01-14T00:12:38Z. 
    Edition: 2.5.0. Last updated on
    	26th July 2013.
    Edition Location: http://www.tei-c.org/Vault/P5/2.5.0/
    
  -->
  <!---->
  <xs:complexType name="et_macro.paraContent" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="ns1:et_model.phrase"/>
      <xs:group ref="ns1:et_model.inter"/>
      <xs:group ref="ns1:et_model.global"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="et_macro.phraseSeq" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="ns1:et_model.phrase"/>
      <xs:group ref="ns1:et_model.global"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="et_macro.specialPara" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="ns1:et_model.phrase"/>
      <xs:group ref="ns1:et_model.inter"/>
      <xs:group ref="ns1:et_model.divPart"/>
      <xs:group ref="ns1:et_model.global"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="et_data.certainty">
    <xs:restriction base="xs:token">
      <xs:enumeration value="high"/>
      <xs:enumeration value="medium"/>
      <xs:enumeration value="low"/>
      <xs:enumeration value="unknown"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="et_data.probability">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="et_data.numeric">
    <xs:union memberTypes="xs:double xs:decimal">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="(\-?[\d]+/\-?[\d]+)"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="et_data.temporal.w3c">
    <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="et_data.xTruthValue">
    <xs:union memberTypes="xs:boolean">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="unknown"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="inapplicable"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="et_data.language">
    <xs:union memberTypes="xs:language">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="et_data.outputMeasurement">
    <xs:restriction base="xs:token">
      <xs:pattern value="[\-+]?\d+(\.\d+)?(%|cm|mm|in|pt|pc|px|em|ex|gd|rem|vw|vh|vm)"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="et_data.pointer">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="et_data.word">
    <xs:restriction base="xs:token">
      <xs:pattern value="(\p{L}|\p{N}|\p{P}|\p{S})+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="et_data.text">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="et_data.name">
    <xs:restriction base="xs:Name"/>
  </xs:simpleType>
  <xs:simpleType name="et_data.enumerated">
    <xs:restriction base="ns1:et_data.name"/>
  </xs:simpleType>
  <xs:attributeGroup name="et_att.canonical.attribute.key">
    <xs:attribute name="key" type="ns1:et_data.text">
      <xs:annotation>
        <xs:documentation>provides an externally-defined means of identifying the entity (or entities) being named, using a coded value of some kind.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.canonical.attribute.ref">
    <xs:attribute name="ref">
      <xs:annotation>
        <xs:documentation>(reference) provides an explicit means of locating a full definition for the entity being named by means of one or more URIs.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="ns1:et_data.pointer"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.ranging.attributes">
    <xs:attributeGroup ref="ns1:et_att.ranging.attribute.atLeast"/>
    <xs:attributeGroup ref="ns1:et_att.ranging.attribute.atMost"/>
    <xs:attributeGroup ref="ns1:et_att.ranging.attribute.min"/>
    <xs:attributeGroup ref="ns1:et_att.ranging.attribute.max"/>
    <xs:attributeGroup ref="ns1:et_att.ranging.attribute.confidence"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.ranging.attribute.atLeast">
    <xs:attribute name="atLeast" type="ns1:et_data.numeric">
      <xs:annotation>
        <xs:documentation>gives a minimum estimated value for the approximate measurement.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.ranging.attribute.atMost">
    <xs:attribute name="atMost" type="ns1:et_data.numeric">
      <xs:annotation>
        <xs:documentation>gives a maximum estimated value for the approximate measurement.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.ranging.attribute.min">
    <xs:attribute name="min" type="ns1:et_data.numeric">
      <xs:annotation>
        <xs:documentation>where the measurement summarizes more than one observation or a range, supplies the minimum value observed.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.ranging.attribute.max">
    <xs:attribute name="max" type="ns1:et_data.numeric">
      <xs:annotation>
        <xs:documentation>where the measurement summarizes more than one observation or a range, supplies the maximum value observed.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.ranging.attribute.confidence">
    <xs:attribute name="confidence" type="ns1:et_data.probability">
      <xs:annotation>
        <xs:documentation>specifies the degree of statistical confidence (between zero and one) that a value falls within the range specified by min and max, or the proportion of observed values that fall within that range.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.dimensions.attribute.unit">
    <xs:attribute name="unit">
      <xs:annotation>
        <xs:documentation>names the unit used for the measurement
Suggested values include: 1] cm(centimetres) ; 2] mm(millimetres) ; 3] in(inches) ; 4] lines; 5] chars(characters) </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:Name">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="cm">
                <xs:annotation>
                  <xs:documentation>(centimetres) </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="mm">
                <xs:annotation>
                  <xs:documentation>(millimetres) </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="in">
                <xs:annotation>
                  <xs:documentation>(inches) </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="lines">
                <xs:annotation>
                  <xs:documentation>lines of text</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="chars">
                <xs:annotation>
                  <xs:documentation>(characters) characters of text</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.dimensions.attribute.quantity">
    <xs:attribute name="quantity" type="ns1:et_data.numeric">
      <xs:annotation>
        <xs:documentation>specifies the length in the units specified</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.dimensions.attribute.extent">
    <xs:attribute name="extent" type="ns1:et_data.text">
      <xs:annotation>
        <xs:documentation>indicates the size of the object concerned using a project-specific vocabulary combining quantity and units in a single string of words. </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.dimensions.attribute.precision">
    <xs:attribute name="precision" type="ns1:et_data.certainty">
      <xs:annotation>
        <xs:documentation>characterizes the precision of the values specified by the other attributes.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.dimensions.attribute.scope">
    <xs:attribute name="scope" type="ns1:et_data.enumerated">
      <xs:annotation>
        <xs:documentation>where the measurement summarizes more than one observation, specifies the applicability of this measurement.
Sample values include: 1] all; 2] most; 3] range</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.breaking.attributes">
    <xs:attributeGroup ref="ns1:et_att.breaking.attribute.break"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.breaking.attribute.break">
    <xs:attribute name="break" type="ns1:et_data.enumerated">
      <xs:annotation>
        <xs:documentation>indicates whether or not the element bearing this attribute should be considered to mark the end of an orthographic token in the same way as whitespace.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.datable.w3c.attribute.when">
    <xs:attribute name="when" type="ns1:et_data.temporal.w3c">
      <xs:annotation>
        <xs:documentation>supplies the value of the date or time in a standard form, e.g. yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.datable.w3c.attribute.notBefore">
    <xs:attribute name="notBefore" type="ns1:et_data.temporal.w3c">
      <xs:annotation>
        <xs:documentation>specifies the earliest possible date for the event in standard form, e.g. yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.datable.w3c.attribute.notAfter">
    <xs:attribute name="notAfter" type="ns1:et_data.temporal.w3c">
      <xs:annotation>
        <xs:documentation>specifies the latest possible date for the event in standard form, e.g. yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.datable.w3c.attribute.from">
    <xs:attribute name="from" type="ns1:et_data.temporal.w3c">
      <xs:annotation>
        <xs:documentation>indicates the starting point of the period in standard form, e.g. yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.datable.w3c.attribute.to">
    <xs:attribute name="to" type="ns1:et_data.temporal.w3c">
      <xs:annotation>
        <xs:documentation>indicates the ending point of the period in standard form, e.g. yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.fragmentable.attribute.part">
    <xs:attribute name="part" default="N">
      <xs:annotation>
        <xs:documentation>specifies whether or not its parent element is fragmented in some way, typically by some other overlapping structure: for example a speech which is divided between two or more verse stanzas, a paragraph which is split across a page division, a verse line which is divided between two speakers.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Y">
            <xs:annotation>
              <xs:documentation>(yes) the element is fragmented in some (unspecified) respect</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="N">
            <xs:annotation>
              <xs:documentation>(no) either the element is not fragmented, or no claim is made as to its completeness.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="I">
            <xs:annotation>
              <xs:documentation>(initial) this is the initial part of a fragmented element</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="M">
            <xs:annotation>
              <xs:documentation>(medial) this is a medial part of a fragmented element</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="F">
            <xs:annotation>
              <xs:documentation>(final) this is the final part of a fragmented element</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.responsibility.attribute.cert">
    <xs:attribute name="cert" type="ns1:et_data.certainty">
      <xs:annotation>
        <xs:documentation>(certainty) signifies the degree of certainty associated with the intervention or interpretation.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.responsibility.attribute.resp">
    <xs:attribute name="resp">
      <xs:annotation>
        <xs:documentation>(responsible party) indicates the agency responsible for the intervention or interpretation, for example an editor or transcriber.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="ns1:et_data.pointer"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.global.attribute.n">
    <xs:attribute name="n" type="ns1:et_data.text">
      <xs:annotation>
        <xs:documentation>(number) gives a number (or other label) for an element, which is not necessarily unique within the document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.global.attribute.rend">
    <xs:attribute name="rend">
      <xs:annotation>
        <xs:documentation>(rendition) indicates how the element in question was rendered or presented in the source text.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="ns1:et_data.word"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.internetMedia.attribute.mimeType">
    <xs:attribute name="mimeType">
      <xs:annotation>
        <xs:documentation>(MIME media type) specifies the applicable multimedia internet mail extension (MIME) media type</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="ns1:et_data.word"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.resourced.attributes">
    <xs:attributeGroup ref="ns1:et_att.resourced.attribute.url"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.resourced.attribute.url">
    <xs:attribute name="url" use="required" type="ns1:et_data.pointer">
      <xs:annotation>
        <xs:documentation>(uniform resource locator) specifies the URL from which the media concerned may be obtained.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.typed.attribute.type">
    <xs:attribute name="type" type="ns1:et_data.enumerated">
      <xs:annotation>
        <xs:documentation>characterizes the element in some sense, using any convenient classification scheme or typology.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="et_att.pointing.attribute.target">
    <xs:attribute name="target">
      <xs:annotation>
        <xs:documentation>specifies the destination of the reference by supplying one or more URI References</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="ns1:et_data.pointer"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="et_model.emphLike">
    <xs:sequence>
      <xs:element ref="ns1:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.emphLike_alternation">
    <xs:sequence>
      <xs:element ref="ns1:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.emphLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.emphLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.emphLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.emphLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.highlighted">
    <xs:sequence>
      <xs:group ref="ns1:et_model.emphLike"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.dateLike">
    <xs:sequence>
      <xs:element ref="ns1:date"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.dateLike_alternation">
    <xs:sequence>
      <xs:element ref="ns1:date"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.dateLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:date"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.dateLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:date"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.dateLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:date"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.dateLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:date"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.graphicLike">
    <xs:sequence>
      <xs:element ref="ns1:graphic"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.milestoneLike">
    <xs:sequence>
      <xs:element ref="ns1:milestone"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.biblLike">
    <xs:sequence>
      <xs:element ref="ns1:bibl"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.biblLike_alternation">
    <xs:sequence>
      <xs:element ref="ns1:bibl"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.biblLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:bibl"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.biblLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:bibl"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.biblLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:bibl"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.biblLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:bibl"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.pLike">
    <xs:sequence>
      <xs:element ref="ns1:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.pLike_alternation">
    <xs:sequence>
      <xs:element ref="ns1:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.pLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.pLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.pLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.pLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.divPart">
    <xs:sequence>
      <xs:group ref="ns1:et_model.pLike"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.publicationStmtPart">
    <xs:choice>
      <xs:element ref="ns1:date"/>
      <xs:element ref="ns1:distributor"/>
      <xs:element ref="ns1:idno"/>
      <xs:element ref="ns1:availability"/>
    </xs:choice>
  </xs:group>
  <xs:group name="et_model.availabilityPart">
    <xs:sequence>
      <xs:element ref="ns1:licence"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.respLike">
    <xs:sequence>
      <xs:element ref="ns1:author"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.imprintPart">
    <xs:sequence>
      <xs:element ref="ns1:distributor"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.nameLike">
    <xs:sequence>
      <xs:element ref="ns1:idno"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.nameLike_alternation">
    <xs:sequence>
      <xs:element ref="ns1:idno"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.nameLike_sequence">
    <xs:sequence>
      <xs:element ref="ns1:idno"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.nameLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:idno"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.nameLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:idno"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.nameLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ns1:idno"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.global">
    <xs:sequence>
      <xs:group ref="ns1:et_model.milestoneLike"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.biblPart">
    <xs:choice>
      <xs:group ref="ns1:et_model.respLike"/>
      <xs:group ref="ns1:et_model.imprintPart"/>
      <xs:element ref="ns1:bibl"/>
    </xs:choice>
  </xs:group>
  <xs:group name="et_model.pPart.data">
    <xs:choice>
      <xs:group ref="ns1:et_model.dateLike"/>
      <xs:group ref="ns1:et_model.nameLike"/>
    </xs:choice>
  </xs:group>
  <xs:group name="et_model.inter">
    <xs:sequence>
      <xs:group ref="ns1:et_model.biblLike"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.common">
    <xs:choice>
      <xs:group ref="ns1:et_model.divPart"/>
      <xs:group ref="ns1:et_model.inter"/>
    </xs:choice>
  </xs:group>
  <xs:group name="et_model.phrase">
    <xs:choice>
      <xs:group ref="ns1:et_model.highlighted"/>
      <xs:group ref="ns1:et_model.graphicLike"/>
      <xs:group ref="ns1:et_model.pPart.data"/>
    </xs:choice>
  </xs:group>
  <xs:group name="et_model.divLike">
    <xs:sequence>
      <xs:group ref="ns1:et_div"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_model.div1Like">
    <xs:sequence>
      <xs:group ref="ns1:et_div1"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="p" type="ns1:et_macro.paraContent">
    <xs:annotation>
      <xs:documentation>(paragraph) marks paragraphs in prose. [3.1.  7.2.5. ]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="date">
    <xs:annotation>
      <xs:documentation>contains a date in any format. [3.5.4.  2.2.4.  2.5.  3.11.2.4.  15.2.3.  13.3.6. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="ns1:et_model.phrase"/>
        <xs:group ref="ns1:et_model.global"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:et_att.datable.w3c.attribute.when"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="graphic">
    <xs:annotation>
      <xs:documentation>indicates the location of an inline graphic, illustration, or figure. [3.9. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="ns1:et_att.resourced.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="milestone">
    <xs:annotation>
      <xs:documentation>marks a boundary point separating any kind of section of a text, typically but not necessarily indicating a point at which some part of a standard reference system changes, where the change is not represented by a structural element. [3.10.3. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="ns1:et_att.global.attribute.n"/>
      <xs:attributeGroup ref="ns1:et_att.global.attribute.rend"/>
      <xs:attributeGroup ref="ns1:et_att.typed.attribute.type"/>
      <xs:attributeGroup ref="ns1:et_att.breaking.attributes"/>
      <xs:attribute name="unit" use="required">
        <xs:annotation>
          <xs:documentation>marks changes of page, lines, small and normal letter size</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="page"/>
            <xs:enumeration value="line"/>
            <xs:enumeration value="small"/>
              <xs:enumeration value="normal"/>
              <xs:enumeration value="chunk"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="author">
    <xs:annotation>
      <xs:documentation>in a bibliographic reference, contains the name(s) of an author, personal or corporate, of a work; for example in the same form as that provided by a recognized bibliographic name authority.  [3.11.2.2.  2.2.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:et_macro.phraseSeq">
          <xs:attributeGroup ref="ns1:et_att.canonical.attribute.key"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:annotation>
      <xs:documentation>contains a title for any kind of work. [3.11.2.2.  2.2.1.  2.2.5. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:et_macro.paraContent">
          <xs:attributeGroup ref="ns1:et_att.canonical.attribute.key"/>
          <xs:attribute name="type">
            <xs:annotation>
              <xs:documentation>classifies the title according to some convenient typology.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="derived"/>
                <xs:enumeration value="titlePage"/>
                <xs:enumeration value="short"/>
                <xs:enumeration value="bibliographic"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="bibl">
    <xs:annotation>
      <xs:documentation>(bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may not be explicitly tagged.  [3.11.1.  2.2.7.  15.3.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="ns1:et_model.highlighted"/>
        <xs:group ref="ns1:et_model.pPart.data"/>
        <xs:group ref="ns1:et_model.biblPart"/>
        <xs:group ref="ns1:et_model.global"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:et_att.typed.attribute.type"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="teiHeader" type="ns1:et_fileDesc">
    <xs:annotation>
      <xs:documentation>(TEI header) supplies the descriptive and declarative information making up an electronic title page prefixed to every TEI-conformant text. [2.1.1.  15.1. ]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="et_fileDesc">
    <xs:sequence>
      <xs:element ref="ns1:fileDesc"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fileDesc">
    <xs:annotation>
      <xs:documentation>(file description) contains a full bibliographic description of an electronic file. [2.2.  2.1.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:element ref="ns1:titleStmt"/>
          <xs:element ref="ns1:publicationStmt"/>
        </xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:sourceDesc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="titleStmt">
    <xs:annotation>
      <xs:documentation>(title statement) groups information about the title of a work and those responsible for its content. [2.2.1.  2.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:title"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:et_model.respLike"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="publicationStmt">
    <xs:annotation>
      <xs:documentation>(publication statement) groups information concerning the publication or distribution of an electronic or other text.  [2.2.4.  2.2. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:group maxOccurs="unbounded" ref="ns1:et_model.pLike"/>
        <xs:group maxOccurs="unbounded" ref="ns1:et_model.publicationStmtPart"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="distributor" type="ns1:et_macro.phraseSeq">
    <xs:annotation>
      <xs:documentation>supplies the name of a person or other agency responsible for the distribution of a text. [2.2.4. ]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="idno">
    <xs:annotation>
      <xs:documentation>(identifier) supplies any form of identifier used to identify some object, such as a bibliographic item, a person, a title, an organization, etc. in a standardized way. [2.2.4.  2.2.5.  3.11.2.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:idno"/>
      </xs:sequence>
      <xs:attribute name="type" type="ns1:et_data.enumerated">
        <xs:annotation>
          <xs:documentation>categorizes the identifier, for example as an ISBN, Social Security number, etc. 
Sample values include: 1] TBRC_RID</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="availability">
    <xs:annotation>
      <xs:documentation>supplies information about the availability of a text, for example any restrictions on its use or distribution, its copyright status, any licence applying to it, etc. [2.2.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:group ref="ns1:et_model.availabilityPart"/>
        <xs:group ref="ns1:et_model.pLike"/>
      </xs:choice>
      <xs:attribute name="status" default="unknown">
        <xs:annotation>
          <xs:documentation>supplies a code identifying the current availability of the text. </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="free"/>
            <xs:enumeration value="unknown"/>
            <xs:enumeration value="restricted"/>
            <xs:enumeration value="copyrighted"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="licence">
    <xs:annotation>
      <xs:documentation>contains information about a licence or other legal agreement applicable to the text. [2.2.4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:et_macro.specialPara">
          <xs:attributeGroup ref="ns1:et_att.pointing.attribute.target"/>
          <xs:attributeGroup ref="ns1:et_att.datable.w3c.attribute.when"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="sourceDesc">
    <xs:annotation>
      <xs:documentation>(source description) describes the source from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:group maxOccurs="unbounded" ref="ns1:et_model.pLike"/>
        <xs:group maxOccurs="unbounded" ref="ns1:et_model.biblLike"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEI">
    <xs:annotation>
      <xs:documentation>(TEI document) contains a single TEI-conformant document, comprising a TEI header and a text, either in isolation or as part of a teiCorpus element. [4.  15.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:teiHeader"/>
        <xs:element ref="ns1:text"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="text">
    <xs:annotation>
      <xs:documentation>contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4.  15.1. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:et_model.global"/>
        <xs:element ref="ns1:body"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:et_model.global"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="body">
    <xs:annotation>
      <xs:documentation>(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. ]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:et_model.global"/>
        <xs:choice>
          <xs:sequence maxOccurs="unbounded">
            <xs:group ref="ns1:et_model.divLike"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:et_model.global"/>
          </xs:sequence>
          <xs:sequence maxOccurs="unbounded">
            <xs:group ref="ns1:et_model.div1Like"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:et_model.global"/>
          </xs:sequence>
          <xs:sequence>
            <xs:sequence maxOccurs="unbounded">
              <xs:group ref="ns1:et_model.common"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:et_model.global"/>
            </xs:sequence>
            <xs:choice minOccurs="0">
              <xs:sequence maxOccurs="unbounded">
                <xs:group ref="ns1:et_model.divLike"/>
                <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:et_model.global"/>
              </xs:sequence>
              <xs:sequence maxOccurs="unbounded">
                <xs:group ref="ns1:et_model.div1Like"/>
                <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:et_model.global"/>
              </xs:sequence>
            </xs:choice>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:group name="et_div">
    <xs:sequence>
      <xs:element name="div">
        <xs:annotation>
          <xs:documentation>(text division) contains a subdivision of the front, body, or back of a text. [4.1. ]</xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:et_model.global"/>
            <xs:choice minOccurs="0">
              <xs:sequence maxOccurs="unbounded">
                <xs:group ref="ns1:et_model.divLike"/>
                <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:et_model.global"/>
              </xs:sequence>
              <xs:sequence>
                <xs:sequence maxOccurs="unbounded">
                  <xs:group ref="ns1:et_model.common"/>
                  <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:et_model.global"/>
                </xs:sequence>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                  <xs:group ref="ns1:et_model.divLike"/>
                  <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:et_model.global"/>
                </xs:sequence>
              </xs:sequence>
            </xs:choice>
          </xs:sequence>
          <xs:attributeGroup ref="ns1:et_att.typed.attribute.type"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="et_div1">
    <xs:sequence>
      <xs:element name="div1">
        <xs:annotation>
          <xs:documentation>(level-1 text division) contains a first-level subdivision of the front, body, or back of a text. [4.1.2. ]</xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:et_model.global"/>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="ns1:et_model.common"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:et_model.global"/>
            </xs:sequence>
          </xs:sequence>
          <xs:attributeGroup ref="ns1:et_att.typed.attribute.type"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
</xs:schema>
